{% extends "layout.html" %}
{% block body %}
  <ul id="db-entries" class=entries>
  {% for entry in entries %}
    <li data-id="{{ entry.id }}" data-etag="">
      <p>{{ entry.name }}</p>
      {% if session.logged_in %}
        {% if entry.allowed_fields %}
          <form action="/update/{{ entry.id }}" method=post class=update-entry>
            <SELECT NAME="state">
            {% for key, value in entry.allowed_fields.state.items() %}
              {% if entry.state == value %}
                <OPTION VALUE="{{ key }}" SELECTED>
              {% else %}
                <OPTION VALUE="{{ key }}">
              {% endif %}
              {{ value }}
            {% endfor %}
            </SELECT>
            <input type=submit value=Update>
          </form>
        {% else %}
          <span><i>{{ entry.state }}</i></span>
        {% endif %}
      {% endif %}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
