{% extends "layout.html" %}
{% block body %}
  <ul id="db-entries" class=entries>
  {% for entry in entries %}
    <li data-id="{{ entry.id }}" {% if entry.state %} data-state="{{ entry.state }}" {% endif %} data-etag="">
      <p>{{ entry.name }}</p>
      {% if session.logged_in %}
        {% if entry.allowed_fields %}
          <form action="/update/{{ entry.id }}" method=post class=update-entry data-nr-of-params="{{ entry.allowed_fields|length }}">
            <SELECT NAME="state">
            {% for key, value in entry.allowed_fields.state.items() %}
                <OPTION VALUE="{{ value }}" {% if entry.state == value %} SELECTED {% endif %}>
              {{ value }}
            {% endfor %}
            </SELECT>
            <input type=submit value=Update>
          </form>
        {% else %}
          <span><i>{{ entry.state }}</i></span>
        {% endif %}
      {% endif %}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
